<!DOCTYPE html>
<html>
<body>

<p>A function is triggered when the user releases a key in the input field. The function outputs the actual key/letter that was released inside the text field.</p>

<form id="myForm" action="" method="post" autocomplete="off">
<p><input type="text" name="val" id="input" placeholder="Enter your text here" onkeyup="myFunction()"> </p>
</form>

<p>My name is: <span id="demo"></span></p>

<script>
function myFunction() {
  document.getElementById("myForm").submit();
  var x = {{ a }};
  document.getElementById("demo").innerHTML = x;
}
</script>

</body>
</html>